---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/rioos%2Faran/repository/branches/2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c3903ac380b644228dc826dd61f24fb"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1520593743'
      Ratelimit-Resettime:
      - Sat, 09 Mar 2018 11:09:03 GMT
    body:
      encoding: UTF-8
      string: '{"name":"2.0","commit":{"id":"ca3e18d6a869a5473dab4ea5a9c499792048a913","short_id":"ca3e18d6","title":"Merge
        branch ''2.0'' into ''2.0''","created_at":"2018-03-09T05:08:15.000+00:00","parent_ids":["3be0d71a66625dab85126110a53a44c6c674f400","30f7bce703672a0c702c5ec4546d788cdb6f6dde"],"message":"Merge
        branch ''2.0'' into ''2.0''\n\nunit testing for build config and build\n\nSee
        merge request rioos/aran!341","author_name":"indykish","author_email":"nkishore@megam.io","authored_date":"2018-03-09T05:08:15.000+00:00","committer_name":"indykish","committer_email":"nkishore@megam.io","committed_date":"2018-03-09T05:08:15.000+00:00"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false}'
  recorded_at: Fri, 09 Mar 2018 11:08:01 GMT
recorded_with: VCR 4.0.0
