---
http_interactions:
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/rioos%2Faran/repository/branches
    body:
      encoding: UTF-8
      string: branch=test-branch-from-release-tools&ref=master
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66d0a9804a74b3e20e0708129cdc16d8"
    body:
      encoding: UTF-8
      string: '{"name":"test-branch-from-release-tools","commit":{"id":"db271a6b051f9630d5dfb3acbbd78f150cb3f23f","short_id":"db271a6b","title":"Merge
        branch ''tc-no-todo-service-select-mysql'' into ''master''","created_at":"2017-08-03T18:46:49.000+00:00","parent_ids":["00a02d14ac0aa06ab2a9c36ca463381c853a2009","a488fc0add73963c4839f49a7fe0f7b5b014d15a"],"message":"Merge
        branch ''tc-no-todo-service-select-mysql'' into ''master''\n\nAvoid plucking
        Todo ids in TodoService - take 2\n\nSee merge request !11415","author_name":"Sean
        McGivern","author_email":"sean@mcgivern.me.uk","authored_date":"2017-08-03T18:46:49.000+00:00","committer_name":"Sean
        McGivern","committer_email":"sean@mcgivern.me.uk","committed_date":"2017-08-03T18:46:49.000+00:00"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false}'
  recorded_at: Thu, 03 Aug 2017 19:53:27 GMT
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/rioos%2Frioos/repository/branches
    body:
      encoding: UTF-8
      string: branch=test-branch-from-release-tools&ref=master
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '6'
      Ratelimit-Remaining:
      - '594'
      Ratelimit-Reset:
      - '1520534039'
      Ratelimit-Resettime:
      - Fri, 08 Mar 2018 18:33:59 GMT
    body:
      encoding: UTF-8
      string: '{"message":"401 Unauthorized"}'
  recorded_at: Sun, 17 Jul 1983 18:30:00 GMT
[...]
