---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/gitlab-org/milestones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc8e22d1b62c024030fb6d841599c455"
      Link:
      - <https://gitlab.com/api/v4/groups/gitlab-org/milestones?id=gitlab-org&page=1&per_page=20&state=all>;
        rel="first", <https://gitlab.com/api/v4/groups/gitlab-org/milestones?id=gitlab-org&page=1&per_page=20&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '13'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1517346421'
      Ratelimit-Resettime:
      - Wed, 30 Jan 2018 21:07:01 GMT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 30 Jan 2018 21:06:01 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/gitlab-org/milestones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc8e22d1b62c024030fb6d841599c455"
      Link:
      - <https://gitlab.com/api/v4/groups/gitlab-org/milestones?id=gitlab-org&page=1&per_page=20&state=all>;
        rel="first", <https://gitlab.com/api/v4/groups/gitlab-org/milestones?id=gitlab-org&page=1&per_page=20&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '13'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1517346907'
      Ratelimit-Resettime:
      - Wed, 30 Jan 2018 21:15:07 GMT
    body:
      encoding: UTF-8
      string: '[{"id":481948,"iid":1,"project_id":3603592,"title":"2.0","description":"","state":"active","created_at":"2018-03-09T10:59:25.878Z","updated_at":"2018-03-09T10:59:25.878Z","due_date":null,"start_date":null}]'
  recorded_at: Tue, 30 Jan 2018 21:14:07 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/rioos%2Faran/milestones?state=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c37527e4616d485fb97aad783e143162"
      Link:
      - <https://gitlab.com/api/v4/projects/rioos%2Faran/milestones?id=rioos%2Faran&page=1&per_page=20&state=active>;
        rel="first", <https://gitlab.com/api/v4/projects/rioos%2Faran/milestones?id=rioos%2Faran&page=1&per_page=20&state=active>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '5'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1517347155'
      Ratelimit-Resettime:
      - Wed, 30 Jan 2018 21:19:15 GMT
    body:
      encoding: UTF-8
      string: '[{"id":481948,"iid":1,"project_id":3603592,"title":"2.0","description":"","state":"active","created_at":"2018-03-09T10:59:25.878Z","updated_at":"2018-03-09T10:59:25.878Z","due_date":null,"start_date":null}]'
  recorded_at: Mon, 30 Jan 2017 06:00:00 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/rioos%2Frioos/milestones?state=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1520534027'
      Ratelimit-Resettime:
      - Fri, 08 Mar 2018 18:33:47 GMT
    body:
      encoding: UTF-8
      string: '{"message":"401 Unauthorized"}'
  recorded_at: Mon, 02 Aug 2032 18:30:03 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/rioos/milestones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v4/groups/rioos/milestones?id=rioos&page=1&per_page=20&state=all>;
        rel="first", <https://gitlab.com/api/v4/groups/rioos/milestones?id=rioos&page=1&per_page=20&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '8'
      Ratelimit-Remaining:
      - '592'
      Ratelimit-Reset:
      - '1520592223'
      Ratelimit-Resettime:
      - Sat, 09 Mar 2018 10:43:43 GMT
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 02 Aug 2032 18:30:02 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/rioos%2Frelaran/milestones?state=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v4/projects/rioos%2Frelaran/milestones?id=rioos%2Frelaran&page=1&per_page=20&state=active>;
        rel="first", <https://gitlab.com/api/v4/projects/rioos%2Frelaran/milestones?id=rioos%2Frelaran&page=1&per_page=20&state=active>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1520701705'
      Ratelimit-Resettime:
      - Sun, 10 Mar 2018 17:08:25 GMT
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 02 Aug 2032 18:30:01 GMT
recorded_with: VCR 4.0.0
