---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/rioos%2Frioos/issues?labels=Release&milestone=2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1520534042'
      Ratelimit-Resettime:
      - Fri, 08 Mar 2018 18:34:02 GMT
    body:
      encoding: UTF-8
      string: '{"message":"401 Unauthorized"}'
  recorded_at: Sun, 17 Jul 1983 18:30:00 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/rioos%2Faran/issues?labels=Release&milestone=2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v4/projects/rioos%2Faran/issues?id=rioos%2Faran&labels=Release&milestone=2.0&order_by=created_at&page=1&per_page=20&sort=desc&state=all>;
        rel="first", <https://gitlab.com/api/v4/projects/rioos%2Faran/issues?id=rioos%2Faran&labels=Release&milestone=2.0&order_by=created_at&page=1&per_page=20&sort=desc&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1520592215'
      Ratelimit-Resettime:
      - Sat, 09 Mar 2018 10:43:35 GMT
    body:
      encoding: UTF-8
      string: '[{"id":9646342,"iid":55,"project_id":3603592,"title":"Release 2.0","description":"A blank issue to close when we complete 2.0","state":"opened","created_at":"2018-03-09T11:06:30.560Z","updated_at":"2018-03-09T11:23:50.485Z","closed_at":null,"labels":["Release"],"milestone":{"id":481948,"iid":1,"project_id":3603592,"title":"2.0","description":"","state":"active","created_at":"2018-03-09T10:59:25.878Z","updated_at":"2018-03-09T11:33:22.309Z","due_date":"2018-03-31","start_date":"2017-12-01"},"assignees":[],"author":{"id":17279,"name":"indykish","username":"indykish","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/17279/avatar.png","web_url":"https://gitlab.com/indykish"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"discussion_locked":null,"web_url":"https://gitlab.com/rioos/aran/issues/55","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null}}]'
  recorded_at: Fri, 01 Jul 1983 18:30:00 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/rioos%2Faran/issues?labels=Release&milestone=7.14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v4/projects/rioos%2Faran/issues?id=rioos%2Faran&labels=Release&milestone=7.14&order_by=created_at&page=1&per_page=20&sort=desc&state=all>;
        rel="first", <https://gitlab.com/api/v4/projects/rioos%2Faran/issues?id=rioos%2Faran&labels=Release&milestone=7.14&order_by=created_at&page=1&per_page=20&sort=desc&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1520596182'
      Ratelimit-Resettime:
      - Sat, 09 Mar 2018 11:49:42 GMT
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 17 Jul 1983 18:30:00 GMT
recorded_with: VCR 4.0.0
